@charset 'utf-8';

$naver: #19ce60;
$header: 64px;
$search-form: calc(0.5rem + 56px);

.place-list {
  margin: 0.5rem 0;
  height: calc(100vh - 64px - (0.5rem + 56px) - 1rem);
  background-color: #fff;
  border: 1px solid $gray;
  border-radius: 0.2rem;

  &.fold {
    height: 180px;
  }

  .places {
    padding: 0.5rem;
    height: calc(100% - 33px);
    overflow-y: auto;
  }

  .btn-spread-fold {
    padding: 0.4rem 0;
    border-top: 1px solid $gray;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;

    &:hover {
      background-color: rgba($primary, 0.1);
    }
  }
}

.place-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-top: 1px dashed $gray;
  cursor: pointer;

  &.selected {
    background-color: rgba($info, 0.2);
  }

  &:first-child {
    border-top: 0;
  }
  &:hover {
    background-color: rgba($primary, 0.1);
  }

  .place-info {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;

    .place--name {
      margin-right: 0.5rem;
      font-size: 1.4rem;
    }

    .place--type {
      font-size: 0.9rem;
    }
  }

  .place-address {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: $gray-text;
  }

  .place-contact {
    display: flex;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;

    .place--tel {
      margin-right: 1rem;
      color: #6886c5;
    }

    .place--map {
      color: $naver;
    }
  }

  @media screen and (max-width: $contents-width-m) {
    .place-info {
      flex-direction: column;

      .place--name {
        margin-bottom: 0.2rem;
        font-size: 1.2rem;
      }
    }
    .place-address {
      font-size: 0.9rem;
    }

    .place-contact {
      .place--tel {
        margin-right: auto;
      }
    }
  }
}

.place-map {
  .map {
    height: calc(100vh - 64px - (0.5rem + 56px) - (1rem + 180px) - 0.5rem);
  }

  .naver-info-window {
    padding: 0.5rem;
    border-radius: 5px;

    h4 {
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }

    a {
      font-size: 0.8rem;
      color: $naver;
    }
  }
}
