@charset 'utf-8';

/* font */
$font-size: 16px;
$mobile-font-size: 14px;

$font: 'Noto Sans KR';
$logo-font: 'Poiret One';

/* layout */
$contents-width: 992px;
$contents-width-m: 576px;

/* color */
$primary: #2b2b2b;
$info: #ffe0ac;

$white: #f9f9f9;
$dark: #333;
$gray: #e2e2e2;
$gray-text: #838383;
